<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Pirates Name: <input type="text" name="pirate[name]">
  Pirates weight: <input type="text" name="pirate[weight]">
  Pirates height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship type: <input type="text" name="pirate[ships][][type]">
  Ship booty: <input type="text" name="pirate[ships][][booty]">
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship type: <input type="text" name="pirate[ships][][type]">
  Ship booty: <input type="text" name="pirate[ships][][booty]">
  <input type="submit">
</form>
